.user-data {
	padding: 8px;
	background-color: white;
	border-radius: 8px;
	box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.15);
}

.user-data-header {
	display: flex;
	justify-content: space-between;
}

.user-data h2 {
	font-size: 24px;
	font-weight: 600;
}

.user-data-header img {
	width: 96px;
	border-top-right-radius: 6px;
}

.user-data .data-field {
	padding: 8px;
}

.user-data .data-field:not(:last-child) {
	border-bottom: 1px solid #ccc;
}

.field-title {
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.field-title button {
	padding: 4px;
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid;
	border-radius: 100%;
	cursor: pointer;
	background-color: #eee;
}

.history-title {
	font-weight: 500;
}

.history-text {
	color: #4b4b4b;
}
