@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--padding: 16px;
}

body {
	min-height: 100vh;
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	background-image: url('../public/bg.jpg');
	background-size: cover;
	background-position: bottom;
}

main {
	flex: 1;
}

header,
main {
	padding: var(--padding);
}

h1 {
	font-size: 24px;
	font-weight: 600;
}

.req-access-connection input {
	width: 100%;
	padding: 8px 16px;
}

.btn-req-access {
	margin-top: 8px;
}

.btn {
	background-color: #2a2a2a;
	color: white;
	font-weight: 600;
	padding: 8px 16px;
}

form > * {
	width: 100%;
	padding: 8px 16px;
}

.icon {
	width: 24px;
	height: 24px;
}
